@media (max-width:1080px) {
    * {
        /* font-size: 14px; */
        margin: 0;
        padding: 0;
    }

    /* nav {
        position: relative;
     

    }

    .logo {
        position: absolute;
        left: 30px;
        top: 30px;
    }

    nav ul {
       
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
     
    }


    nav .mobilenavicons {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        color: white;
        font-size: 45px;
        cursor: pointer;
        z-index: 999;

    }


    .firstsection {
        display: flex;
        flex-direction: column-reverse;
      
        width: 100%;

    }

    .avatar {
        margin-top: 55px;
    } */




    nav .menu-icons {
        display: block;
        z-index: 999;
        cursor: pointer;
        color: #e24;
        overflow-x: hidden;
    }

    nav {
        backdrop-filter: blur(10px);
    }

    nav .ulmenu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffffda;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        transition: .5s all linear;
        z-index: 999;

    }

    .ulmenu ul {
        flex-direction: column;
    }

    .active .ulmenu {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        overflow-x: hidden;
    }

    .active .menu-icons [name="menu"] {
        display: none;
        overflow-x: hidden;
    }

    .active .menu-icons [name="close"] {
        display: block;
        overflow-x: hidden;
    }

    /* body mediaQuery now  */
    .firstsection {
        padding: 0 3%;
        min-height: 80vh;
        width: 100%;
        /* justify-content: ; */

        flex-direction: column-reverse;

    }

    #textDetails {

        width: 90%;
        height: 60%;



        .text p {
            font-size: 16px;
        }

        .greenText {
            color: #1cbe59;
        }

        .purpleText {
            color: #8067f0;
        }

        .orangeText {
            color: #f75023;
            font-size: 18px;
        }


        .yellowText {
            color: #f0c45c;
        }

        .orangeBackground {
            background-color: #fedfd7;
        }

        .greenBackground {
            background-color: #ddf5e6;
        }

        .purpleBackground {
            background-color: #ece8fd;
        }

        .name {
            font-size: 20px;
        }

        .job {
            font-size: 15px;
        }



    }

    #avatar {
        width: 90%;
        margin-top: 90px;
        margin-bottom: 0%;
    }

    .myForm {
        /* margin-top: 20px; */
        width: 100%;
        height: 100%;
        /* background-color: #ddf5e6; */
        padding: 20px;
        /* display: flex; */
        /* flex-direction: row-reverse; */
    }

    .formcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .map iframe {
        width: 100%;
        height: 40vh;
        border: 0;
    }
    .portfoliotitle{
        margin-top: 20px;
    }

    .portfiliocontent {
        /* min-height: 100vh; */

        row-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

    }
  
}